body{
    background-color: #D5E1EF;
}

.card{
   
    width: 250px;
    height: 380px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5% auto ;

  
}
img{
    width: 220px;
    border-radius: 10px;
     margin:15px;
   



}

.text{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    padding: 0 10px;
    text-align: center;
    width: 180px;
    margin: auto;

   
}
strong{
    font-weight: 700;
    color:hsl(218, 44%, 22%);
   
}
.small{
    color:hsl(220, 15%, 55%);
    font-size: 11px;
}

.attribution {
     font-size: 11px; text-align: center; 
     font-family: 'Outfit', sans-serif;
    }

.attribution a {   
     color: hsl(228, 45%, 44%);
     }


     @media (max-width: 375px){
        .card{
            margin:15% auto;
        
        }

     }